.border-coffee {
    border-color: #6F4E37 !important;
}

.btn-coffee {
    background-color: #6F4E37;
    border-color: #6F4E37;
    color: white;
}

.btn-outline-coffee {
    border-color: #6F4E37;
    color: #6F4E37;
}

.btn-outline-coffee:hover {
        background-color: #6F4E37;
        color: white;
}


.bg-coffee {
    background-color: #6F4E37 !important;
}

.text-coffee {
    color: #4B3621 !important;
}

.btn-coffee {
    background-color: #8B6B4B;
    border-color: #6F4E37;
    color: white;
}

    .btn-coffee:hover {
        background-color: #6F4E37;
        color: white;
    }

.border-coffee {
    border-color: #6F4E37 !important;
}